@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,600;1,900&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Muli', sans-serif;
	font-size: 14px;

}
body{
	background-color: #10222e;
	overflow-x: hidden;	
}
#sommaire{
	height: 150px;
}

.menu_menu_ordinateur{
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu_menu_ordinateur li{
	list-style: none;
	margin: 1.5%;
	padding: 1.5%;
}

.menu_menu_ordinateur li img{
	margin: 0%;
	padding: 0%;
	height: 9vh;
}

.menu_menu_ordinateur li a{
	font-size: 1em;
	text-transform: uppercase;
	text-decoration: none;
	color: #FFFAE5;
	padding: 6px;
}

.menu_menu_ordinateur li a:hover{
	background-color: #FFFAE5;
	color: #10222e;
}




.header_mobile{
	position: fixed;
	left: 0;
	top:-500px;
}

.navbar{
	height: 90vh;
	width: 100vw;
	background-color:#10222e;
	color:#FFFAE5;
	position: fixed;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0 0 20% 40%;

	top:-1000px;
}



@media screen and (max-width: 768px)
{
	*{
		font-size: 6.5px;
	}

	#sommaire ul li img{
		height: 0vh;
	}

	.menu_menu_ordinateur{
		display: none;
		visibility:hidden;
		width: 0%;
		height: 0%;
	}

	.header_mobile{
		position:relative;
		display: flex;
		top: 0px;
		width: 100%;
		height: 100%;
	}

	.header_mobile img{
		
		margin-left: 20%;
		margin-top: 40px;
		padding: 0%;
		height: 9vh;
	}

	.change{
		
		left: 0vw;
		top: 150px;
		z-index: 2;
	}
	
	.hamburger-menu{
		width: 35px;
		height: 30px;
		
		
		padding: 50px;
		padding:50px;
		cursor: pointer;
	
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	
	.ligne{
		width: 100%;
		height:3px;
		background-color: #FFFAE5;
		transition: all 1s;
	}
	
	.change .ligne-1{
		transform: rotateZ(-45deg) translate(-8px,6px);
	}
	
	.change .ligne-2{
		opacity: 0;
	}
	
	.change .ligne-3{
		transform: rotateZ(45deg) translate(-8px,-6px);
	}
	
	.nav-list{
		font-size: 4em;
		height: 80%;
		width: 50%;
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-direction: column;
		text-transform: uppercase;
		color: #FFFAE5;
		list-style: none;
	}
	.nav-item{
		color: #FFFAE5;
		text-decoration: none;
		margin: 1.5%;
		padding: 1.5%;
	}

	.nav-link{
		font-size: 2em;
		text-transform: uppercase;
		text-decoration: none;
		color: #FFFAE5;
		padding: 6px;
	}


}