/*Fitres*/
#filtres{
    display: flex;
    justify-content: center;
    align-items: center;
}

#filtres ul{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

#filtres ul li{
    list-style: none;
    background-color: #FFFAE5;
    color: #10222e;
    padding: 6px;
    margin: 10px;
    letter-spacing: 1px;
    cursor: pointer;
}

#filtres ul li.active{
    background-color: #10222e;
    color: #FFFAE5;
}

/*Videos*/

.product{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.product .itemBox{
    width: 350px;
    margin: 1%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 2px black;
}

.product .itemBox img{
    width: 90%;
}

/* Button container */
.btnFavorite-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/*Bouton favoris*/
.btnFavorites{
    background: none;
    font-size: 2rem;
    border: none;
    color: darkgray;
    margin: 5px;
    margin-right: 20px;
}

.btnFavorites:hover{
    color: lightcoral;
    cursor: pointer;
}

.btnFavorites:focus{
    outline: none;
}

.heart{
    animation: heart 0.5s linear;
}

.heart i.fa-heart{
    color: red;
}

/*Partie Admin*/
@media screen and (max-width: 768px){
    .product .itemBox{
        max-width: 90%;
    }
}

@keyframes heart{
    0%{
        transform: rotate(0deg) scale(1.7);
    }

    40%{
        transform: rotate(0deg) scale(1);
    }

    41%{
        transform: rotate(360deg) scale(1);
    }

    100%{
        transform: rotate(0deg) scale(1);
    }
}


