

.favoris-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.favoris{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.favoris-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 350px;
    margin: 1%;
}


