/*Fitres*/

.formCheckbox-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-filtre{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.btnContainer{
    display: flex;
    justify-content: center;
}

.filtres-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.checkbox-effectif{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.checkbox-complement{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.tag{
    display: flex;
    flex-direction: row;

    align-items: center;
    margin: 4px;
    padding: 4px;
}

.tag input{
    margin-right: 40px;
}

.tag-titre{
    color: black;
    font-size: 1rem;
    margin: 5px;
}

/*Toggle*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #10222e;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #10222e;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


/*Videos*/

.product{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.product .itemBox{
    width: 350px;
    margin: 1%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 2px black;
    position: relative;
}

.product .itemBox img{
    width: 90%;
}

/* Button container */
.btnFavorite-container{
    position: absolute;
    width: 35px;
    height: 35px;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

/*Bouton favoris*/
.btnFavorites{
    background: none;
    font-size: 2rem;
    border: none;
    color: darkgray;
    margin: 5px;
}

.btnFavorites:hover{
    color: lightcoral;
    cursor: pointer;
}

.btnFavorites:focus{
    outline: none;
}

.heart{
    animation: heart 0.5s linear;
}

.heart i.fa-heart{
    color: red;
}

/*Partie Admin*/
@media screen and (max-width: 768px){
    .product .itemBox{
        max-width: 90%;
    }
}

@keyframes heart{
    0%{
        transform: rotate(0deg) scale(1.7);
    }

    40%{
        transform: rotate(0deg) scale(1);
    }

    41%{
        transform: rotate(360deg) scale(1);
    }

    100%{
        transform: rotate(0deg) scale(1);
    }
}


