.favoris{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.favoris-card{
    width: 350px;
    height: auto;
    margin: 1%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 2px black;

}

.favoris-card img{
    width: 90%;
}


/* Button container */

/*Bouton favoris*/
.btnDeleteFavorites{
    background: none;
    font-size: 1.5rem;
    border: none;
    color: darkgray;
    margin: 5px;
    margin-right: 20px;
}

.btnDeleteFavorites:hover{
    color: rgb(19, 19, 173);
    cursor: pointer;
}

.btnDeleteFavorites:focus{
    outline: none;
}


