.favoris-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.favoris{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.favoris-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 350px;
    margin: 1%;
}


/* Button container */
.btnFavorite-container{

}

/*Bouton favoris*/
.btnDeleteFavorites{
    background: none;
    font-size: 2rem;
    border: none;
    color: darkgray;
    margin: 5px;
    margin-right: 20px;
}

.btnDeleteFavorites:hover{
    color: rgb(19, 19, 173);
    cursor: pointer;
}

.btnDeleteFavorites:focus{
    outline: none;
}


