
.container_information{
    background-color: #FFFAE5;
    width: 100%;
    height:100%;
}
.formulaire-information{
    position: relative;
    display: flex;
    font-size: 16px;
    width: 100%;
}
form {
    display: block;
    margin-top: 0em;
    padding-bottom: 2em;
    
}

.user-form {
    max-width: 500px;
    margin: auto;
    position: relative;
}

.ligne{
    display: flex;
    margin-top: 1em;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #132577;
    font-weight: bold;

}
.material-input__input{
    border: solid;
    outline: none;
    color: #3a3e57fb;
    border-radius: 5px;
    background-color: #d3eaf1;
    border-color:#132577;
    font-size: 1.2em;
    font-style:italic;
    padding-left: 1rem ;
}

.material-input__input:focus{
    border: solid;
    border-color:salmon;
}

.form-valider{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-valide
{
    width:250px;
    margin: auto;
    position: relative;
    border: 1px solid white;
    height:50px;
    cursor: pointer;
    border-radius: 30px;
    background-color: #10222e;
    color: #FFFAE5;
}

.button-valide:hover
{
    color: #10222e;
    border: solid;
    border-color: #10222e;
    transition: ease-out 0.5s;
    background-color: #FFFAE5;
}


.material-input__label{
    color: #132577;
    font-size: 1.5em;
}